@import "tailwindcss";

@theme inline {
  --breakpoint-xs: 390px;


  /* --font-default: var(--font-libre-franklin);
  --font-title: var(--font-rethink-sans); */
  --font-default: var(--font-radio-canada);
  --font-title: var(--font-merriweather-sans);

  
  --color-primary-50: #f5f8fe;
  --color-primary-100: #b2b7ff;
  --color-primary-200: #7f88ff;
  --color-primary-300: #4c58ff;
  --color-primary-400: #1929ff;
  --color-primary: #000cb2;
  --color-primary-600: #00097f;
  --color-primary-700: #00054c;
  --color-primary-800: #000219;
  --color-primary-900: #000000;
  
}